{{ define "userlist.html" }}
<div class="flex flex-col space-y-4 p-4">
  {{ range getGophers }}
  <div class="w-full mb-4">
    <ul class="bg-white rounded-lg shadow-lg">
      <li
        class="flex flex-col sm:flex-row justify-between items-center p-4 border-b last:border-none space-y-4 sm:space-y-0"
      >
        <img src="/static/assets/gopher.png" alt="Gopher" class="w-12 h-12" />
        <div class="flex-1 sm:ml-4 text-center sm:text-left">
          <h5 class="text-blue-500 font-semibold">{{ .Name }}</h5>
          <p class="text-gray-500">
            <i class="bi bi-person"></i>
            {{ .Username }}
          </p>
        </div>
        <div
          id="gopher-buttons"
          role="group"
          class="flex flex-row space-x-2 border border-gray-300 rounded-lg p-1"
        >
          <button
            id="edit-button"
            type="button"
            class="bg-green-500 text-white hover:bg-green-600 p-2 rounded text-xl basis-1/3"
            aria-label="Edit"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            id="view-button"
            type="button"
            class="bg-blue-500 text-white hover:bg-blue-600 p-2 rounded text-xl basis-1/3"
            aria-label="View"
          >
            <i class="fa-solid fa-eye p-1"></i>
          </button>
          <button
            id="delete-button"
            type="button"
            class="bg-red-500 text-white hover:bg-red-600 p-2 rounded text-xl basis-1/3"
            aria-label="Delete"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
  {{ end }}
  <script>
    document.querySelectorAll("#gopher-buttons button").forEach((button) => {
      button.addEventListener("click", (event) => {
        event.preventDefault();
        switch (button.id) {
          case "view-button":
            alert("View clicked");
            break;
          case "edit-button":
            alert("Edit clicked");
            break;
          case "delete-button":
            alert("Delete clicked");
            break;
        }
      });
    });
  </script>
</div>
{{ end }}
